{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} My Songs {% endblock %}</h1>
    <h1 class="center">Row View</h1>
    {% for song in music %}
        <div class='songCard'>
            <img src="{{ song[6] }}" class="img" />
            <h3>{{ song[1] }} by {{ song[2] }}</h3>
            <p>{{ song[3] }}</p>
            <i><p>({{ song[4] }} minutes)</p></i>
            <p>edit</p>
            <form action="/update" method="post">
                <input type="hidden" name="id" value="{{ song[0] }}">
                <input type="text" name="song" value="{{ song[1] }}">
                <input type="text" name="artist" value="{{ song[2] }}">
                <input type="submit" value="Update">
            </form>
            <form action="/delete" method="post">
                <input type="hidden" name="id" value="{{ song[0] }}">
                <input type="submit" value="Delete">
            </form>
        </div>
    {% endfor %}
{% endblock %}